.contact-container {
    padding: 20px;
}

.notif-btn {
    display: none;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 5px;
}

.hide-btn {
    display: none !important;
}

@supports (-webkit-touch-callout: none) {
    .notif-btn {
        display: block;
    }
}